.sobre-mim{
  position: relative;
  width:100%;
  height:50vh;
}

.txt-sobre{
  /* margin-top: 60vh; */
  top: 0;
  font-size: 2em;
  width: 100%;
}


@media(min-width: 1300px){
  .txt-sobre{
    width: 80%;
    font-size: 2em;
  }
}