.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container section{
  height: 100%;
  /* border: 1px solid #fff; */
}

.container section.menu{
  width: 35%;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 15%;
}

.container section.paginas{
  width: 65%;
  position: fixed;
  top: 0;
  left: 35%;
  overflow-y: auto;
  height: 90%;
  overflow-x: hidden;
  /* background-color: red; */
}

.barra-lateral{
  position: fixed;
  width: 0px;
  height: 70%;
  top: 16%;
  border: 2px solid #9045F0;
}

.conteudo{
  /* background-color: blue; */
  color: #fff;
  width: 70%;
  height: 50%;
  position: relative;
  font-size: 2em;
  text-align: left;
  margin: 80% auto;
}

.conteudo h2{
  margin-top: 0;
  text-align: center;
  /* display: none; */
  color: #9045F0;
  margin-bottom: 1em;
  font-size: 2em;
}

@media only screen and (max-width: 320px) {
  .container section.menu{
    background-color: yellow;
  }
}

@media only screen and (min-width: 721px) {
  .conteudo{
    margin: 60% auto;
    font-size: 4em;
  }
}

@media only screen and (min-width: 768px) {
  .conteudo{
    margin: 20% auto;
  }

  .container section.menu{
    max-width: 250px;
    margin-top: 5%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1225px) {
  .container section.paginas{
    width: 80%;
    left: 25%;
  }
}
