
.imgPerfil{
  display: flex;
  justify-content: center;
  margin: auto;
}

.menu-lateral .imgPerfil img{
  border-radius: 50%;
}

.titulo-perfil{
  font-size: 1em;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: white;
}

.titulo-perfil span{
  display: block;
  font-size: 2.5em;
  line-height: 1.2em;
}

.menu-lateral nav{
  position: absolute;
  bottom: 0;
  margin-bottom: 15vh;
  width: 100%;
}

.menu-lateral nav ul{
  list-style: none;
  font-size: 2em;
}

.menu-lateral nav ul li a{
  color: #FFF;
  text-decoration: none;
}

.menu-lateral nav ul li a:hover,
.menu-lateral nav ul li a .icon:hover{
  color: #9045F0 !important;
}

.menu-lateral nav ul li a .icon{
  position: absolute;
  right: 0;
  margin-right: 0;
}

@media(min-width: 1300px){
  
}

@media(min-width: 900px) and (max-width: 1300px){
  .menu-lateral nav ul li a .icon{
    margin-right: 20%;
  }
}

@media(max-width: 899px){
  .imgPerfil img{
    width: 96px;
    height: 96px;
  }

  /* .menu-lateral nav ul li a .icon{
    margin-right: 0;
  } */
}